
/*------Accordion Page CSS -----*/
.card .card-header {
  padding: 1.05rem;
  background-color: #003152;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.04); 
  color: white;
  cursor: pointer;  
}

.card-title-icon {
  padding-right: 5px;
}

/* .pfm-card-header {
  padding: 1.05rem;
  background-color: #003152;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.04); 
  color: white;
  cursor: pointer;
} */
